{% extends "base.html" %}

{% block content %}

<div id="heading">
    <h1 class="title">Tweet Like Me</h1>
</div>
<div class="row">
    <p>Generate tweets like any user on Twitter!</p>
    <p>Simply type a valid twitter username to begin...</p> 
    <div id="username">
        <input id="username_input" autocomplete="off"></input>
        <button id="username_submit">Submit</button>
    </div>
</div>
<div class="footer">
    <p><a href="https://github.com/OllyWelch/tweetlikeme" target="blank"><img src="{{ url_for('static', filename='images/github.png') }}"></a></p>
    <p>Created by Olly Welch, 2021</p>
</div>
{% endblock %}
